@charset "utf-8";
img{width:100%;}
body{font-family: 'Roboto', sans-serif; overflow-y:scroll;}
#model_body{height:6300px;}

button{width:200px; height:70px; position:fixed; top:50px; left:50%; margin-left:-100px;}
/*------------------------------
	    jeep gnb menu css
------------------------------*/
#gnb{_display:none; position:fixed; width:300px; height:100vh; top:0; right:-300px; background:#000; z-index:99999;}
	#gnb>ul{position:absolute; width:100%; top:25%;}
	#gnb>ul>li{width:100%; padding:15px 0 15px 70px;}
	#gnb>ul>li:first-child{margin-top:0px;}
	#gnb>ul>li>a{color:#fff; text-transform:uppercase; font-size:20px; font-weight:bold; letter-spacing:3px; position:relative;}
	#gnb>ul>li>a:before,
	#gnb>ul>li>a:after{content:""; display:block; position:absolute; width:100%; height:3px; background:#ffba00; border-radius:1.5px; transition:none;  transform:scale(0, 1);}
	#gnb>ul>li>a:before{bottom:-3px; transform-origin: 0 0;}
	#gnb>ul>li>a:after{bottom:-3px; transform-origin:100% 0; transition:0.5s;}
	/*#gnb>ul>li:hover>a{color:#ffba00; transition:0.5s;}*/
	#gnb>ul>li:hover>a:before{transform:scale(1); transition:0.5s;} 
	#gnb>ul>li:hover>a:after{transform:scale(1); transition-delay:0.3s;}
		#toggle_btn{position:absolute; width:80px; height:80px; left:-80px; top:50%; margin-top:-40px; background:rgba(0,0,0,0.7); z-index:99999;}
			.toggle,
			.toggle:after,
			.toggle:before{position:relative; display:block; width:50px; height:4px; top:38px; left:15px; background:#fff; transform-origin: 50% 50%; transition:0.6s;}
			.toggle:after{content:""; position:absolute; top:-15px; left:0;}
			.toggle:before{content:""; position:absolute; top:15px; left:0;}
			.toggle.on{transform:rotate(-360deg); width:45px;}
			.toggle.on:after{transform:rotate(45deg) translate(18px,-11px); width:30px;}
			.toggle.on:before{transform:rotate(-45deg) translate(18px,11px); width:30px;}

		.sns{position:absolute; left:50%; margin-left:-65px; bottom:50px; width:130px; _border:1px solid yellow;}
		.sns:after{content:""; display:block; clear:both;}
		.sns>div{float:left; width:30px; height:30px;}
		.sns>div+div{margin-left:20px;}

		#subMenu{width:100%; height:0; background:#222; overflow:hidden;}
		#subMenu>div{width:100%; padding-left:30%; margin:12px 0 12px 0;}
		#subMenu>div:first-child{margin-top:12px;}
		#subMenu>div+div{margin-top:5px;}
		#subMenu>div>a{font-size:14px; position:relative; color:#fff; text-transform:uppercase; letter-spacing:2px;}
		#subMenu>div>a:before{content:""; display:block; position:absolute; left:-15px; top:7px;  height:6px; width:6px; background:#ffba00; opacity:0; transition:0.4s;}
		#subMenu>div>a:hover:before{opacity:1;}
		#subMenu>div>a:hover{color:#ffba00;}

/*------------------------------
	    jeep main page css
------------------------------*/
div#main_container{position:relative; width:100%; height:100vh; overflow:hidden;}
	.logo{position:fixed; width:80px; top:30px; left:50px; z-index:99999;}
	.logo>a:nth-of-type(1){}
	.logo>a:nth-of-type(2){display:none; opacity:0;}
	.sub_title{position:fixed; top:35px; left:140px; z-index:99999; height:30px; overflow:hidden;}
	.sub_title>ul{margin-top:30px;}
	.sub_title>ul>li{letter-spacing:1px; line-height:30px; color:#333;}
		
	.rolling_bg{_overflow:hidden; position:relative;}
	.rolling_bg>ul{width:100vw; position:absolute;}
	.rolling_bg>ul:after{content:""; display:block; clear:both;}
	.rolling_bg>ul>li{display:none; position:absolute; float:left; width:100vw; height:100vh; background-position:center; background-attachment:fixed; background-repeat:no-repeat; background-size:cover; text-indent:-9999px; overflow:hidden;}
	.rolling_bg>ul>li:nth-child(1){background-image:url(../images/main/rolling01.jpg);}
	.rolling_bg>ul>li:nth-child(2){background-image:url(../images/main/rolling02.jpg);}
	.rolling_bg>ul>li:nth-child(3){background-image:url(../images/main/rolling03.jpg);}
	.rolling_bg>ul>li:nth-child(4){background-image:url(../images/main/rolling04.jpg);}
	.rolling_bg>ul>li:nth-child(5){background-image:url(../images/main/rolling05.jpg);}
	.rolling_bg>ul>li:nth-child(6){background-image:url(../images/main/rolling06.jpg);}
	.rolling_bg>ul>li:nth-child(7){background-image:url(../images/main/rolling07.jpg);}
	.rolling_bg>ul>li:nth-child(8){background-image:url(../images/main/rolling08.jpg);}
	.rolling_bg>ul>li:nth-child(9){background-image:url(../images/main/rolling09.jpg);}

	#controls{position:absolute; width:120px; bottom:20px; left:50%; margin-left:-60px; z-index:99999;}
	#controls:after{content:""; display:block; clear:both;}
	#controls>div{float:left; font-size:14px;}
	#controls>div+div{margin-left:15px;}
	#controls>div>a{display:block; line-height:30px; width:30px; _border:1px solid red; color:#fff; text-align:center;}
/*------------------------------
	  jeep models page css
------------------------------*/
	#botNav{position:fixed; bottom:40px; left:calc(50% - 300px); width:600px; _border:1px dotted red; z-index:100;}
	#botNav>ul{width:100%;}
	#botNav>ul:after{content:""; display:block; clear:both;}
	#botNav>ul>li{float:left; position:relative;}
	#botNav>ul>li.on>a{color:#333; font-weight:bold;}
	#botNav>ul>li+li{margin-left:36px;}
	#botNav>ul>li+li:before{content:""; position:absolute; display:block; width:1px; top:7px; left:-18px; height:11px; background:#bbb;}
	#botNav>ul>li>a{display:block; color:#ddd; font-size:14px; line-height:25px; text-transform:uppercase; letter-spacing:1px; transition:0.5s;}
	#botNav>ul>li>a>span{font-size:10px;}
		.selNav{position:absolute; width:0; height:3px; top:-4px; background:#ffba00; _overflow:hidden;}
		.selNavTri{position:absolute; width:0; left:10px; top:-14px; border:5px solid transparent; border-bottom-color:#ffba00;}

section#model_wrap{position:fixed; _height:100vh; width:10000px; border:1px dotted purple;}
section#model_wrap:after{content:""; display:block; clear:both;}
	.mo_overview{float:left; position:relative; _width:200vw; height:calc(88vh - 220px); min-height:700px; margin-top:12vh; box-sizing:border-box; background:rgba(0,0,255,0.2);;}
	.mo_overview:after{content:""; display:block; clear:both;}
		
		/*----------overview start-----------*/
		.car_set{float:left; position:relative; width:1200px; height:100%; margin-left:calc(50vw - 600px); background:rgba(0,255,0,0.2); _overflow:hidden;}
			.car_info{display:none; position:relative; width:100%; _border:1px dotted orange;}
			.car_info>div:nth-of-type(1){position:absolute; width:620px; top:180px; left:110px; z-index:50;}
			.car_info>div:nth-of-type(2){position:absolute; width:420px; padding:25px 40px; right:150px; overflow:hidden; border:1.2px solid #ddd;}
			.car_info>div:nth-of-type(2)>p:nth-of-type(1){text-transform:uppercase; letter-spacing:1px;}
			.car_info>div:nth-of-type(2)>p:nth-of-type(2){font-size:35px; font-weight:bold; text-transform:uppercase; line-height:32px; letter-spacing:1px;}
			.car_info>div:nth-of-type(2)>p:nth-of-type(3){margin-top:15px; font-size:13px; line-height:22px;}
			
			.car_tabs{position:absolute; top:240px; right:200px;}
			.car_tabs>li{width:220px; cursor:pointer;}
			.car_tabs>li:after{content:""; display:block; clear:both;}
			.car_tabs>li>p{position:relative; float:left; width:50px; text-align:right; line-height:60px; font-size:12px;letter-spacing: 2px;}
			.car_tabs>li>img{display:block; float:right; width:150px;}
			.car_tabs>li+li{margin-top:10px;}		

			.car_color{display:none; position:absolute; top:560px; left:50%;}
			.car_color:after{content:""; display:block; clear:both;}
			.car_color>li{float:left; width:40px; height:40px; cursor:pointer;}
			.car_color>li+li{margin-left:15px;}

		.car_cha{display:none; float:left; position:relative; width:1200px; margin-left:calc((50vw - 600px)); height:calc(100% - 50px); padding-top:50px; background:rgba(255,0,0,0.2); _overflow:hidden;}
		.car_cha.rubicon{width:900px;}	
			.car_cha>ul{margin-top:50px; padding:0 15px;}
			.car_cha>ul:after{content:""; display:block; clear:both;}
			.car_cha>ul>li{float:left; width:270px; _height:250px; border:1.2px solid #ddd; box-sizing:border-box; overflow:hidden;}
			.car_cha>ul>li+li{margin-left:30px;}
			.car_cha>ul>li>p:nth-of-type(1){padding:15px 20px; text-align:center; font-weight:bold; margin-top:20px;}
			.car_cha>ul>li>p:nth-of-type(2){font-size:14px; padding:0 15px; padding-bottom:30px; line-height:20px;}
		/*----------overview end-----------*/



	/*#mo_exterior{float:left; width:20%; height:calc(88vh - 220px); min-height:700px; margin-top:12vh; border:1px dotted orange;}*/













/*------------------------------
	  jeep history page css
------------------------------*/
#history_wrap{position:fixed; width:7500px; _height:100vh; _border:1px dotted purple;}
	.contents_wrap{position:absolute;  height:calc(88vh - 220px); left:0; min-height:700px; margin-top:12vh; overflow:hidden; _background:rgba(255,0,0,0.1);}
	.contents_wrap:after{content:""; display:block; clear:both;}	
		#line{position:absolute; width:100%; bottom:0; height:3px; width:calc(100% - 166px); background:#333;}
	
	.contents_wrap{}
	.contents_wrap>div{float:left; position:relative; width:330px; border:1.2px solid #ddd; margin-top:80px; margin-left:450px; background:#fff;}
	.contents_wrap>div:nth-of-type(1){margin-left:50vh;}
	.contents_wrap>div>div:nth-of-type(1){padding:25px 40px; right:150px; overflow:hidden;}
	.contents_wrap>div>div:nth-of-type(2){position:absolute; top:0; _left:0; left:164px; height:1000px; width:1px; background:#333; z-index:-1;}
	.contents_wrap>div>div>h2{}
	.contents_wrap>div>div>p{margin-top:20px;font-size:14px; line-height:24px;}

	.contents_wrap>div:nth-of-type(2){margin-top:200px;}
	.contents_wrap>div:nth-of-type(3){margin-top:150px;}
	.contents_wrap>div:nth-of-type(4){margin-top:100px;}
	.contents_wrap>div:nth-of-type(5){margin-top:180px;}
	.contents_wrap>div:nth-of-type(6){margin-top:100px;}
	.contents_wrap>div:nth-of-type(7){margin-top:80px;}
	.contents_wrap>div:nth-of-type(8){margin-top:200px;}







/*------------------------------
	  jeep gallery page css
------------------------------*/
button{position:absolute; top:50px; right:50px; width:100px; height:70px; z-index:1000;}

section#gallery_wrap{width:1320px; margin:250px auto 0 auto; _background:red;}
section#gallery_wrap:after{content:""; display:block; clear:both;}
	#modal{display:none; position:absolute; width:100%; height:100%; top:0; left:0; _background:rgba(30,30,30,0.7); z-index:100}
	/*모달이미지 닫기버튼 배경을 선택시 종료 새로 마크업 필요*/
		.modal_photo{width:1200px; height:583px; margin:150px auto 0 auto; z-index:80;}
		.modal_photo>div{display:none; width:1200px; height:583px;}
		.modal_nav{width:1200px; position:relative; height:132px; margin:0 auto; overflow:hidden; _margin-top:5px; border:6px solid #ffba00; border-width:6px 0 0 0; z-index:50;}
		.modal_nav>ul{width:5760px; position:absolute; left:480px; padding-top:12px;}
		.modal_nav>ul:after{content:""; display:block; clear:both;}
		.modal_nav>ul>li{float:Left;}
		.modal_nav>ul>li.on>a:before{display:none;}
		.modal_nav>ul>li>a{display:block; position:relative; width:240px;}
		.modal_nav>ul>li>a:before{content:""; display:block; position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.6);}
			.triangle{position:absolute; width:20px; height:20px; top:-16px; left:50%; margin-left:-14px; transform:rotate(45deg); background:#ffba00;}
		.modal_close{position:absolute; width:100%; height:100%; top:0; left:0; cursor:pointer; z-index:-1;}
		.modal_close>img{position:absolute; height:100%; opacity:0;}

	#thumb_nail{position:relative; width:100%; _display:none;}
		#view_point{position:relative; width:1200px; height:446px; margin:0 auto; overflow:hidden;}
		#view_point>div{position:absolute; width:2400px; height:446px; left:0px; top:0; _background:blue;}
		#view_point>div:after{content:""; display:block; clear:both;}
		#view_point>div>ul{float:left; _background:green; width:1200px;}
			.thumb_nav{width:100%;}
			.thumb_nav:after{content:""; display:block; clear:both;}
			.thumb_nav>li{float:left; position:relative; width:292.5px; height:142px; margin-left:10px; box-sizing:border-box;}
			.thumb_nav>li.on>a:before{opacity:0;}
			.thumb_nav>li:hover>a:before{opacity:0;}
			.thumb_nav>li:nth-child(4n+1){margin:0;}
			.thumb_nav>li:nth-child(n+5){margin-top:10px;}
			.thumb_nav>li>a{position:relative; display:block; width:100%; height:100%; box-sizing:border-box;}			
			.thumb_nav>li>a:before{content:""; display:block; position:absolute; height:142px; width:292.5px; background:#000; opacity:0.6; transition:0.3s;}

		.thumb_left_btn,
		.thumb_right_btn{position:absolute; width:50px; height:446px; background:black; _z-index:100; top:0; font-size:12px; text-align:center; line-height:446px; color:#ffba00; cursor:pointer;}
		.thumb_left_btn{left:0;}
		.thumb_right_btn{right:0;}