@charset "utf-8";
img{width:100%;}
/*------------------------------
	    jeep main page css
------------------------------*/
div#main_container{position:relative; width:100%; height:100vh; overflow:hidden;}
	.logo{position:fixed; width:80px; top:30px; left:50px; z-index:99999;}
	
	.rolling_bg{_overflow:hidden; position:relative;}
	.rolling_bg>ul{width:100vw; position:absolute;}
	.rolling_bg>ul:after{content:""; display:block; clear:both;}
	.rolling_bg>ul>li{display:none; position:absolute; float:left; width:100vw; height:100vh; background-position:center; background-attachment:fixed; background-repeat:no-repeat; background-size:cover; text-indent:-9999px; overflow:hidden;}
	.rolling_bg>ul>li:nth-child(1){background-image:url(../images/main/rolling01.jpg);}
	.rolling_bg>ul>li:nth-child(2){background-image:url(../images/main/rolling02.jpg);}
	.rolling_bg>ul>li:nth-child(3){background-image:url(../images/main/rolling03.jpg);}
	.rolling_bg>ul>li:nth-child(4){background-image:url(../images/main/rolling04.jpg);}
	.rolling_bg>ul>li:nth-child(5){background-image:url(../images/main/rolling05.jpg);}
	.rolling_bg>ul>li:nth-child(6){background-image:url(../images/main/rolling06.jpg);}
	.rolling_bg>ul>li:nth-child(7){background-image:url(../images/main/rolling07.jpg);}
	.rolling_bg>ul>li:nth-child(8){background-image:url(../images/main/rolling08.jpg);}
	.rolling_bg>ul>li:nth-child(9){background-image:url(../images/main/rolling09.jpg);}

	#gnb{_display:none; position:fixed; width:300px; height:100vh; top:0; right:-300px; background:#000; z-index:99999;}
	#gnb>ul{position:absolute; top:25%; left:70px;}
	#gnb>ul>li{}
	#gnb>ul>li+li{margin-top:30px;}
	#gnb>ul>li>a{color:#fff; text-transform:uppercase; font-size:20px; font-weight:bold; letter-spacing:3px; position:relative;}
	#gnb>ul>li>a:before,
	#gnb>ul>li>a:after{content:""; display:block; position:absolute; width:100%; height:2px; background:#ffba00;  transition:none;  transform:scale(0, 1);}
	#gnb>ul>li>a:before{bottom:-3px; transform-origin: 0 0;}
	#gnb>ul>li>a:after{bottom:-3px; transform-origin:100% 0; transition:0.5s;}
	/*#gnb>ul>li:hover>a{color:#ffba00; transition:0.5s;}*/
	#gnb>ul>li:hover>a:before{transform:scale(1); transition:0.5s;} 
	#gnb>ul>li:hover>a:after{transform:scale(1); transition-delay:0.5s;}
		#toggle_btn{position:absolute; width:80px; height:80px; left:-80px; top:50%; margin-top:-40px; background:rgba(0,0,0,0.7); z-index:99999;}
			.toggle,
			.toggle:after,
			.toggle:before{position:relative; display:block; width:50px; height:4px; top:38px; left:15px; background:#fff; transform-origin: 50% 50%; transition:0.6s;}
			.toggle:after{content:""; position:absolute; top:-15px; left:0;}
			.toggle:before{content:""; position:absolute; top:15px; left:0;}
			.toggle.on{transform:rotate(-360deg); width:45px;}
			.toggle.on:after{transform:rotate(45deg) translate(18px,-11px); width:30px;}
			.toggle.on:before{transform:rotate(-45deg) translate(18px,11px); width:30px;}

		.sns{position:absolute; left:50%; margin-left:-65px; bottom:50px; width:130px; _border:1px solid yellow;}
		.sns:after{content:""; display:block; clear:both;}
		.sns>div{float:left; width:30px; height:30px;}
		.sns>div+div{margin-left:20px;}

	#controls{position:absolute; width:120px; bottom:20px; left:50%; margin-left:-60px; z-index:99999;}
	#controls:after{content:""; display:block; clear:both;}
	#controls>div{float:left; font-size:14px;}
	#controls>div+div{margin-left:15px;}
	#controls>div>a{display:block; line-height:30px; width:30px; _border:1px solid red; color:#fff; text-align:center;}

/*------------------------------
	  jeep gallery page css
------------------------------*/
button{position:absolute; top:50px; left:50px; width:100px; height:70px; z-index:1000;}

section#gallery_wrap{width:1320px; margin:250px auto 0 auto; _background:red;}
section#gallery_wrap:after{content:""; display:block; clear:both;}
	#modal{display:none; position:absolute; width:100%; height:100%; top:0; left:0; background:rgba(30,30,30,0.7); z-index:100}
		.modal_photo{width:1200px; height:583px; margin:150px auto 0 auto;}
		.modal_photo>div{display:none; width:1200px; height:583px;}
		.modal_nav{width:1200px; position:relative; height:132px; margin:0 auto; overflow:hidden; _margin-top:5px; border:6px solid #000; border-width:6px 0 0 0;}
		.modal_nav>ul{width:5280px; position:absolute; left:480px; padding-top:12px;}
		.modal_nav>ul:after{content:""; display:block; clear:both;}
		.modal_nav>ul>li{float:Left;}
		.modal_nav>ul>li.on>a:before{display:none;}
		.modal_nav>ul>li>a{display:block; position:relative; width:240px;}
		.modal_nav>ul>li>a:before{content:""; display:block; position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.6);}
			.triangle{position:absolute; width:20px; height:20px; top:-16px; left:50%; margin-left:-14px; transform:rotate(45deg); background:#000;}

	#thumb_nail{position:relative; width:100%; _display:none;}
		#view_point{position:relative; width:1200px; height:446px; margin:0 auto; overflow:hidden;}
		#view_point>div{position:absolute; width:2400px; height:446px; left:0px; top:0; _background:blue;}
		#view_point>div:after{content:""; display:block; clear:both;}
		#view_point>div>ul{float:left; _background:green; width:1200px;}
			.thumb_nav{width:100%;}
			.thumb_nav:after{content:""; display:block; clear:both;}
			.thumb_nav>li{float:left; position:relative; width:292.5px; height:142px; margin-left:10px; box-sizing:border-box;}
			.thumb_nav>li.on>a:before{opacity:0;}
			.thumb_nav>li:hover>a:before{opacity:0;}
			.thumb_nav>li:nth-child(4n+1){margin:0;}
			.thumb_nav>li:nth-child(n+5){margin-top:10px;}
			.thumb_nav>li>a{position:relative; display:block; width:100%; height:100%; box-sizing:border-box;}			
			.thumb_nav>li>a:before{content:""; display:block; position:absolute; height:142px; width:292.5px; background:#000; opacity:0.6; transition:0.3s;}

		.thumb_left_btn,
		.thumb_right_btn{position:absolute; width:50px; height:446px; background:black; _z-index:100; top:0; font-size:12px; text-align:center; line-height:446px; color:#fff; cursor:pointer;}
		.thumb_left_btn{left:0;}
		.thumb_right_btn{right:0;}